<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>
<h1><%= t('.title_html')%></h1>
<% @products.each do |product| %>
<div class="entry" >	
<%= link_to image_tag(product.image_url), line_items_path(:product_id => product, :format=>:js), :method=>:post, :remote=>true%>
<h3><%= product.title %></h3>
<%= sanitize(product.description) %>
<div class="price_line" >
<span class="price" ><%= number_to_currency(product.price, :unit=>"zł", :locale=>"pl", :delimiter=>"", :format=>"%n %u")%></span>
<%= button_to t('.add_html'), line_items_path(:product_id => product, :format=>:js), :remote=>true %>
</div>
</div>
<% end %>
